

@import "mapbox-gl/dist/mapbox-gl.css";
@import "./styles/mapbox-popup.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-container {
  height: 100vh;
  width: 100%;
}

/* Cluster styling overrides */
.mapboxgl-canvas {
  cursor: pointer;
}